:root {
    --primary-color: #422e2f;
    --text-color: #d2f9e4;
    --accent-color: #cb1c22;
}

.text-color {
    color: var(--text-color);
}

body {
    background-color: #422e2f;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #d2f9e4;
    text-align: left;
    margin-right: 0px;
}

header {
    height: 40vh;
    font-size: 1.3rem;
    margin-bottom: 4rem;
    padding: ;
}
.blur:after {
    content: "";
    position: absolute;
    filter: brightness(1);
    z-index: 1;
    bottom: 60vh;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to top,var(--primary-color), rgba(255,255,255,0) 100%);
    width: 100%;
    height: 5em;
    margin-bottom: -2px;
  }

.header-image {
    background-image: url(car.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.3);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    height: 40vh;
}

.heading {
    font-family: 'Rubik', sans-serif;
    margin-top: 10dvh;
    font-size: clamp(3.5rem, 8vw, 5.5rem);
    text-shadow: 0 0 10px rgba(black,.5);
    font-weight: 700;
    color: var(--accent-color);
    line-height: 1.2;
    text-align: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: var(--accent-color);
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

.blinker { 
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1,0,0,1);
    animation-duration: 1s;
    display: inline-block;
    width: 2px;
    height: 1em;
    margin-left: 10px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(white,.3);
    background: var(--accent-color);
    transform: translateY(3px);
  }
  
  @keyframes blinker { 
    from { opacity: 1.0; } to { opacity: 0.0; }
  }